.vscode
.idea

venv
__pycache__

conf.json

*.ckpt
*.safetensors
*.pth
*.pt

train/*
!train/new lora will be create.txt
raw_images/*
!raw_images/put raw image here.txt
outputs/*
!outputs/lora inference result.txt

models/wd14_tagger_model/*

train_online/*
!train_online/new lora will be create.txt
logs/*